.container {
    padding: 16px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}

@mixin power-indicator {
    padding: 5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.on {
    @include power-indicator;
    background-color: red;
}

.off {
    @include power-indicator;
    background-color: black;
}