.group {
    display: flex;
    flex-wrap: wrap;

    padding: 4px;
    margin: 4px;
    border: 1px solid #6ed3cf;

    .module {
        margin: 4px;
    }
    .module-and-inbetween {
        display: flex;
    }
}