.container {
    width: 100px;
    height: 200px;
    padding: 20px;
    background-color: grey;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.on {
    padding: 5;
    width: 20px;
    height: 20px;
    background-color: red;
}

.off {
    padding: 5;
    width: 20px;
    height: 20px;
    background-color: black;
}