.container {
    background-color: #e1e8f0;
    display: grid;

    width: 200px;
	padding: 5px;
    
    .bpm-container {
        display: grid;
        justify-content: center;
        
        .bpm {
            display: grid;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-family: 'Fjalla One';
            width: 80px;
            height: 40px;
            background-color: black;
            color: red;
        }

    }
	.markers {
		padding: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
        grid-gap: 10px;
        background-color: grey;

		.marker {
            background-color: black;

            &.on {
                background-color: blue;
            }

            &.playing {
                background-color: lightblue
            }
		}
	}
}