.container {
	font-family: Roboto;

	header {
		background-color:#6ed3cf;
		padding: 10px;

		.modules {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.module {
				font-size: 1.5em;
				font-weight: bold;
				cursor: move;
				margin-right: 10px;

				&:hover {
					color: white;
				}
			}			
		}

		.add-group {
			grid-row: 1;
			grid-column: 2;
			cursor: pointer;
		}

		.play-button-container {
			grid-column: 1;
			grid-row: 1 / 2;
			display: grid;
			text-align: center;
			margin-right: 20px;
		
			.play-button {
				cursor: pointer;
				display: grid;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				background-color:#9068be;
				width: 50px;
				height: 50px;
				font-size: 12px;
		
				&.playing {
					background-color:#472a55;
				}
			}
		}
	}

	.content {
		padding: 10px;
		display: grid;

		.groups {
			display: flex;
			flex-wrap: wrap;
		}
		.master {
			padding: 5px;
		}
	}

	

}


.mobile-keyboard {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	display: grid;

}