
.container {
	font-family: Roboto;
	height: 100%;
	display: flex;
	flex-direction: column;


}

.content {
	display: flex;
	flex-grow: 1;
}

.modules {
	display: flex;
}


.module {
	margin: 15px;
}

.play {
	width: 40px;
	height: 20px;
	background-color: green;
}
