
.container {
	font-family: Roboto;
	height: 100%;
	display: grid;
	grid-template-rows: 80px 1fr;

	header {
		background-color:#6ed3cf;
		display: flex;
		padding: 20px;

		.button {
			cursor: pointer;
			display: grid;
			justify-content: center;
			align-items: center;
			padding: 6px;
			border-radius: 5px;
			background-color:#9068be;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	.content {
		padding: 10px;
	}

}

.groups {
	display: grid;

	grid-gap: 16px;

	.group {

		padding: 10px;
		border: 1px solid #6ed3cf;
		display: grid;
		grid-template-rows: 0.1fr 0.9fr;

		.add-modules {
			display: flex;
			.button {
				margin: 10px;
			}
			
		}

		.modules {
			display: flex;

			.module {
				margin: 10px;
			}
		}
	}
}


.module {
	
}


.play {
	width: 40px;
	height: 20px;
	background-color: green;
}
