
.container {
	font-family: Roboto;
	height: 100%;

	.header {
		background-color:#6ed3cf;
		display: grid;
		grid-template-columns: 0.5fr repeat(5, 1fr);
		grid-column-gap: 10px;
		padding: 20px;
		margin-bottom: 15px;
	}

}


.button {
	cursor: pointer;
	padding: 6px;
	border-radius: 5px;
	background-color:#9068be;
}

.modules {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
}


.module {
	
}


.play {
	width: 40px;
	height: 20px;
	background-color: green;
}
