.container {
    background-color: #e1e8f0;
    display: grid;
    height: 50px;
    width: 200px;
	padding: 5px;
    
	.markers {
		padding: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
        grid-gap: 10px;
        background-color: grey;

		.marker {
            background-color: black;

            &.on {
                background-color: blue;
            }

            &.playing {
                background-color: lightblue
            }
		}
	}
}